<%= render 'shared/botton' %>

<p class="ml-4 mt-20">服用スケジュール</p>
<div class="border-t border-gray-900 mb-12 mt-1"></div>

<div class="flex justify-center w-full">
  <div class="card card-compact bg-base-100 w-full rounded-sm shadow-md h-auto mx-4">
    <div class="card-body">
      <p class="text-xs underline underline-offset-4 mb-2">いま服用しているお薬とサプリメント</p>
      <% @active_schedules.each do |schedule| %>
        <% days_since_start = (Date.today - schedule.start_date).to_i + 1 %>
        <% days_until_end = (schedule.end_date - Date.today).to_i %>
        <% name = schedule.drug&.drug_name || schedule.supplement&.supplement_name %>
        <% if name.present? %>
          <p class="mb-[-10px]">
            <span class="text-xs">・<%= name %>を開始してから</span><span class="font-bold text-base"><%= days_since_start %></span><span class="text-xs">日目。</span>
          </p>
          <p>
            <span class="text-xs ml-4">残りあと</span><span class="font-bold text-base"><%= days_until_end %></span><span class="text-xs">日。</span>
          </p>
        <% end %>
      <% end %>
      <br>
      <p class="text-xs underline underline-offset-4 mb-2">服用を控えているお薬とサプリメント</p>
      <% @upcoming_schedules.each do |schedule| %>
        <% days_until_start = (schedule.start_date - Date.today).to_i %>
        <% name = schedule.drug&.drug_name || schedule.supplement&.supplement_name %>
        <% if name.present? %>
          <p>
            <span class="text-xs">・<%= name %>が始まるまであと</span><span class="font-bold text-base"><%= days_until_start %></span><span class="text-xs">日。</span>
          </p>
        <% end %>
      <% end %>

      <div class="card-actions justify-end">
        <%= link_to image_tag('arrow-right.svg', class: 'w-10 h-10'), user_schedules_path(current_user) %>
      </div>
    </div>
  </div>
</div>

<p class="ml-4 mt-24">記 録</p>
<div class="border-t border-gray-900 mb-3 mt-1"></div>

<span class="badge badge-sm bg-condition text-zinc-50 rounded-md p-2 ml-4 mb-3">体 調</span>
<span class="badge badge-sm bg-belly text-zinc-50 rounded-md p-2 mb-3">消化器官</span>
<span class="badge badge-sm bg-ginkgo-900 text-zinc-50 rounded-md p-2 mb-3">食 事</span>
<span class="badge badge-sm bg-poop text-zinc-50 rounded-md p-2 mb-3">排 便</span>

<div class="overflow-x-auto tracking-normal">
  <%= line_chart [
    { name: "体調", data: @condition_rating_data },
    { name: "消化器官", data: @belly_rating_data },
    { name: "食事", data: @meal_rating_data },
    { name: "排便", data: @poop_rating_data }
  ], min: 1, max: 5, discrete: true, colors: ['#cd7f99', '#a1be95', '#e2dfa2', '#8b6646'], width: '1500px', height: '250px', legend: false %>
</div>

<%= render 'records' %>
