<!-- 症状編集フォーム-->
<%= turbo_frame_tag dom_id(@symptom) do %>
  <%= form_with model: @symptom do |f| %>
    <div>
      <% if @symptom.errors.any? %>
        <ul>
          <% @symptom.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div>
      <%= f.text_field :symptom_name, skip_label: true %>
      <%= f.submit "保存" %>
      <%= link_to "キャンセル", symptoms_path %>
    </div>
  <% end %>
<% end %>
