<!-- 症状編集フォーム-->
<%= turbo_frame_tag dom_id(@symptom) do %>
  <%= form_with model: @symptom, url: user_symptom_path(user_id: current_user.id, id: @symptom.id) do |f| %>
    <div>
      <% if @symptom.errors.any? %>
        <ul>
          <% @symptom.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="flex justify-between items-center text-sm">
      <div><%= f.text_field :symptom_name, skip_label: true %></div>
      <div>
        <%= f.submit "保存" %>
        <%= link_to "やめる", user_symptoms_path(current_user) %>
      </div>
    </div>
    <div class="border-t border-gray-300 my-3"></div>
  <% end %>
<% end %>
