<p class="text-lg ml-4 mt-20">症状リスト</p>
<div class="border-t border-gray-900 mb-12 mt-1"></div>

<div class="flex flex-col items-center w-full">
  <p class="text-xs mx-4 mb-12">記録を書く際に使用する症状の項目を登録できます。</p>
  <%= form_with model: @symptom, url: user_symptoms_path(current_user), local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div>
      <%= f.label :symptom_name, "症状を新しく追加する", class: "text-xs" %><br>
      <%= f.text_field :symptom_name, class: "textarea textarea-bordered textarea-md rounded-sm w-80 mb-7", placeholder: "読点(、)区切りで複数登録可。" %>
    </div>

    <div class="flex justify-end">
      <%= f.submit "登　録", class: "btn btn-sm glass" %>
    </div>
  <% end %>


  <div class="card bg-stone-50 w-80 rounded-sm shadow-md mt-16 mb-10">
    <div class="card-body">
      <p class="text-lg mb-5">Symptoms</p>
      <% @symptoms.each do |symptom| %>
        <%= turbo_frame_tag dom_id(symptom) do %>
          <div class="flex justify-between items-center text-sm">
            <div><%= symptom.symptom_name %></div>
            <div>
              <%= link_to "編集", edit_user_symptom_path(user_id: current_user.id, id: symptom.id) %>
              <%= link_to "削除", user_symptom_path(user_id: current_user.id, id: symptom.id), data: { turbo_stream: true, turbo_method: :delete, turbo_confirm: "#{symptom.symptom_name}を削除しますか？" } %>
            </div>
          </div>
          <div class="border-t border-gray-300 my-3"></div>
        <% end %>
      <% end %>
    </div>
  <div>
</div>
