<p class="text-lg ml-4 mt-20">マイページ</p>
<div class="border-t border-gray-900 mb-20 mt-1"></div>

<div class="flex justify-between my-5 px-4">
  <p class="text-gray-500">名前</p>
  <span><%= @user.last_name %> <%= @user.first_name %></span>
</div>
<div class="border-t border-gray-300 w-full"></div>

<div class="flex justify-between my-5 px-4">
  <p class="text-gray-500">ﾌﾘｶﾞﾅ</p>
  <span><%= @user.last_name_kana %> <%= @user.first_name_kana %></span>
</div>
<div class="border-t border-gray-300 w-full"></div>

<div class="flex justify-between my-5 px-4">
  <p class="text-gray-500">生年月日</p>
  <span><%= @user.birthdate %></span>
</div>
<div class="border-t border-gray-300 w-full"></div>

<div class="flex justify-between my-5 px-4">
  <p class="text-gray-500">性別</p>
  <span><%= @user.gender %></span>
</div>
<div class="border-t border-gray-300 w-full"></div>

<div class="flex justify-between my-5 px-4">
  <p class="text-gray-500">ﾒｰﾙｱﾄﾞﾚｽ</p>
  <span><%= @user.email %></span>
</div>
<div class="border-t border-gray-300 w-full"></div>

<div class="mx-4 mt-5">
  <%= link_to "編集する", edit_user_registration_path(current_user), class: "btn btn-sm glass w-full rounded-sm mt-10" %>
</div>

<div class="mx-4 mt-2">
  <%= link_to "退会する", user_path(current_user), data: { turbo_stream: true, turbo_method: :delete, turbo_confirm: "退会すると会員登録情報をはじめ、全てのデータが消失されてしまいますが本当に退会しますか？" }, class: "btn btn-sm glass w-full rounded-sm" %>
</div>
