<div class="flex justify-between items-center mt-20 mx-4">
  <p class="text-lg font-semibold">服用スケジュール</p>
  <%= link_to image_tag('calendar.svg', class: "w-9 h-9"), new_user_schedule_path(current_user) %>
</div>

<div class="border-t border-gray-900 mb-16 mt-1"></div>

<div class="flex justify-center w-full">
  <table class="table ">
    <thead>
      <tr>
        <th>開始日</th>
        <th>終了日</th>
        <th>お薬とサプリ</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @schedules.each do |schedule| %>
        <tr id="<%= dom_id(schedule) %>">
          <td><%= schedule.start_date_ja %></td>
          <td><%= schedule.end_date_ja %></td>
          <td>
            <% if schedule.drug.present? %>
              <div class="badge badge-sm bg-sky-500 text-zinc-50 rounded-md p-2"><%= schedule.drug.drug_name %></div>
            <% elsif schedule.supplement.present? %>
              <div class="badge badge-sm bg-leaf-500 text-zinc-50 rounded-md p-2"><%= schedule.supplement.supplement_name %></div>
            <% end %>
          </td>
          <td class="flex items-center">
            <%= link_to image_tag('edit.svg', class: "w-7 h-7 min-w-6 min-h-6"), edit_user_schedule_path(current_user, schedule) %>
            <%= link_to image_tag('trash.svg', class: "w-7 h-7 min-w-6 min-h-6"), user_schedule_path(current_user, schedule), data: { turbo_method: :delete, turbo_confirm: "#{schedule.drug.present? ? schedule.drug.drug_name : schedule.supplement.supplement_name}のスケジュールを削除しますか？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
