<body class="bg-ginkgo-500 neutral-200 min-h-[100vh]">
  <div class="flex justify-center">
    <%= link_to '会員登録', new_user_registration_path, class: 'bg-ginkgo-900 text-white font-bold py-2 px-4 rounded hover:bg-blue-700' %>
  </div>
  <p class="text-center text-sm">すでに登録済みの方は以下からログイン</p>
  <div class="flex justify-center">
    <%= form_for(@resource, as: @resource_name, url: session_path(@resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if @devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions text-center">
        <%= f.submit "ログイン", class: 'bg-tomato text-white font-bold py-2 px-4 rounded hover:bg-blue-700' %>
      </div>
      <% end %>
  </div>
  <%= render "devise/shared/links", resource_name: @resource_name, devise_mapping: @devise_mapping %>
</body>
