<p class="text-lg ml-4 mt-20">記録を書く</p>
<div class="border-t border-gray-900 mb-12 mt-1"></div>

<div class="flex flex-col w-full">
  <p class="text-xs mx-4 mb-24 text-left">すでに登録のある日付の記録はできませんのでご注意ください。</p>

  <% if @record.errors.any? %>
    <div class="text-red-500 text-xs text-left ml-4 mb-8">
      <ul>
        <% @record.errors[:record_date].each do |message| %>
          <li><%= message %></li>
          <li><%= link_to '記録を見る', user_record_path(@record.existing_record_id, user_id: current_user.id) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @record, url: user_records_path(current_user), local: true do |f| %>
    <div class="flex justify-center mb-5">
      <%= f.date_select :record_date %>の記録
    </div>

    <div class="flex justify-center w-full mb-5 ">
      <div class="card card-compact bg-base-100 w-full rounded-sm shadow-md h-auto mx-4">
        <div class="card-body">
          <p class="font-bold">服用したお薬とサプリメント</p>
          <div class="border-t border-gray-300 mb-8"></div>

          <p class="text-xs text-right mb-1">お薬とサプリのご登録は<%= link_to 'こちら', user_drug_supplement_lists_path(current_user), class: "underline underline-offset-1 text-sky-700" %>から。</p>

          <div class="flex justify-center text-xs mb-5">
            <%= f.label :drug_ids, "お  薬", class: "badge badge-sm font-bold bg-sky-100 rounded-sm w-full p-3" %>
          </div>
          <div class="text-xs">
            <div class="flex justify-center flex-wrap gap-3">
              <%= f.collection_check_boxes(:drug_ids, current_user.drugs, :id, :drug_name) do |b| %>
                <div class="flex items-center">
                  <%= b.check_box(class: "mr-1") %> <%= b.label %>
                </div>
              <% end %>
            </div>

            <div class="flex items-center mb-5 mt-12">
              <%= f.label :supplement_ids, "サ プ リ メ ン ト", class: "badge badge-sm font-bold bg-leaf-100 rounded-sm w-full p-3" %>
            </div>
            <div class="flex justify-center flex-wrap gap-3 mb-8">
              <%= f.collection_check_boxes(:supplement_ids, current_user.supplements, :id, :supplement_name) do |b| %>
                <div class="flex items-center">
                  <%= b.check_box(class: "mr-1") %> <%= b.label %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- 排便 -->
    <div class="flex justify-center w-full mb-5">
      <div class="card card-compact bg-base-100 w-full rounded-sm shadow-md h-auto mx-4">
        <div class="card-body">
          <p class="font-bold">排 便</p>
          <div class="border-t border-gray-300 mb-8"></div>

          <p class="font-bold text-xs text-center">今日の排便総合評価</p>
          <p class="text-xs text-center mb-2">（グラフに反映されます）</p>
          <div class="rating flex justify-center items-center">
            <%= f.label :poop_rating, "評価しない", for: "poop_rating_0", class: "text-xs" %>
            <%= f.radio_button :poop_rating, 0, class: "mask mask-star-2 bg-gray-400 mr-5", id: "poop_rating_0", checked: true %>
            <%= f.radio_button :poop_rating, 1, class: "mask mask-star-2 bg-ginkgo-900", id: "poop_rating_1" %>
            <%= f.radio_button :poop_rating, 2, class: "mask mask-star-2 bg-ginkgo-900", id: "poop_rating_2" %>
            <%= f.radio_button :poop_rating, 3, class: "mask mask-star-2 bg-ginkgo-900", id: "poop_rating_3" %>
            <%= f.radio_button :poop_rating, 4, class: "mask mask-star-2 bg-ginkgo-900", id: "poop_rating_4" %>
            <%= f.radio_button :poop_rating, 5, class: "mask mask-star-2 bg-ginkgo-900", id: "poop_rating_5" %>
          </div>

          <div class="text-xs">
            <div class="flex items-center mt-12 mb-5">
              <%= f.label :defecation, "排便の有無", class: "font-bold" %>
            </div>
            <div class="flex justify-center flex-wrap gap-3">
              <%= f.collection_check_boxes :defecation, ["朝", "午前中", "昼", "夕方", "夜", "出なかった"], :to_s, :to_s do |b| %>
                <div class="flex items-center">
                  <%= b.check_box(class: "mr-1") %> <%= b.text %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="text-xs">
            <div class="flex items-center mt-12 mb-5">
              <%= f.label :poop_amount, "うんちの量", class: "font-bold" %>
            </div>
            <div class="flex justify-center flex-wrap gap-3">
              <%= f.collection_check_boxes :poop_amount, ["すっきり！", "いつも通り", "少しだけ", "残便感あり"], :to_s, :to_s do |b| %>
                <div class="flex items-center">
                  <%= b.check_box(class: "mr-1") %> <%= b.text %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="text-xs">
            <div class="flex items-center mt-12 mb-5">
              <%= f.label :poop_shape, "うんちの形状", class: "font-bold" %>
            </div>
            <div class="flex justify-center flex-wrap gap-3">
              <%= f.collection_check_boxes :poop_shape, ["バナナ", "かちこち", "コロコロ", "ゆるめ", "下痢", "ほぼ水", "粘液状", "脂肪便", "タール便", "血便"], :to_s, :to_s do |b| %>
                <div class="flex items-center">
                  <%= b.check_box(class: "mr-1") %> <%= b.text %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="mt-12 mb-8 w-full flex justify-center">
            <div class="w-full">
              <%= f.label :poop_memo, "うんちメモ", class: "font-bold text-xs block mb-2 text-left" %>
              <%= f.text_field :poop_memo, class: "textarea textarea-bordered rounded-sm w-full", placeholder: "備考など" %>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- 消化器官 -->
    <div class="flex justify-center w-full mb-5">
      <div class="card card-compact bg-base-100 w-full rounded-sm shadow-md h-auto mx-4">
        <div class="card-body">
          <p class="font-bold">消 化 器 官</p>
          <div class="border-t border-gray-300 mb-8"></div>

          <p class="font-bold text-xs text-center">今日の消化器官総合評価</p>
          <p class="text-xs text-center mb-2">（グラフに反映されます）</p>
          <div class="rating flex justify-center items-center">
            <%= f.label :belly_rating, "評価しない", for: "belly_rating_0", class: "text-xs" %>
            <%= f.radio_button :belly_rating, 0, class: "mask mask-star-2 bg-gray-400 mr-5", id: "belly_rating_0", checked: true %>
            <%= f.radio_button :belly_rating, 1, class: "mask mask-star-2 bg-ginkgo-900", id: "belly_rating_1" %>
            <%= f.radio_button :belly_rating, 2, class: "mask mask-star-2 bg-ginkgo-900", id: "belly_rating_2" %>
            <%= f.radio_button :belly_rating, 3, class: "mask mask-star-2 bg-ginkgo-900", id: "belly_rating_3" %>
            <%= f.radio_button :belly_rating, 4, class: "mask mask-star-2 bg-ginkgo-900", id: "belly_rating_4" %>
            <%= f.radio_button :belly_rating, 5, class: "mask mask-star-2 bg-ginkgo-900", id: "belly_rating_5" %>
          </div>

          <div class="text-xs">
            <div class="flex items-center mt-12 mb-5">
              <%= f.label :belly_condition, "症状", class: "font-bold" %>
            </div>
            <div class="flex justify-center flex-wrap gap-3">
              <%= f.collection_check_boxes :belly_condition, ["腹痛", "げっぷ", "おなら", "膨満感", "腹鳴", "胸焼け", "吐き気", "嘔吐", "胃酸逆流", "その他"], :to_s, :to_s do |b| %>
                <div class="flex items-center">
                  <%= b.check_box(class: "mr-1") %> <%= b.text %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="mt-12 mb-8 w-full flex justify-center">
            <div class="w-full">
              <%= f.label :belly_memo, "消化器官メモ", class: "font-bold text-xs block mb-2 text-left" %>
              <%= f.text_field :belly_memo, class: "textarea textarea-bordered rounded-sm w-full", placeholder: "備考など" %>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- 食事 -->
    <div class="flex justify-center w-full mb-5">
      <div class="card card-compact bg-base-100 w-full rounded-sm shadow-md h-auto mx-4">
        <div class="card-body">
          <p class="font-bold">食 事</p>
          <div class="border-t border-gray-300 mb-8"></div>

          <p class="font-bold text-xs text-center">今日の食事総合評価</p>
          <p class="text-xs text-center mb-2">（グラフに反映されます）</p>
          <div class="rating flex justify-center items-center">
            <%= f.label :meal_rating, "評価しない", for: "meal_rating_0", class: "text-xs" %>
            <%= f.radio_button :meal_rating, 0, class: "mask mask-star-2 bg-gray-400 mr-5", id: "meal_rating_0", checked: true %>
            <%= f.radio_button :meal_rating, 1, class: "mask mask-star-2 bg-ginkgo-900", id: "meal_rating_1" %>
            <%= f.radio_button :meal_rating, 2, class: "mask mask-star-2 bg-ginkgo-900", id: "meal_rating_2" %>
            <%= f.radio_button :meal_rating, 3, class: "mask mask-star-2 bg-ginkgo-900", id: "meal_rating_3" %>
            <%= f.radio_button :meal_rating, 4, class: "mask mask-star-2 bg-ginkgo-900", id: "meal_rating_4" %>
            <%= f.radio_button :meal_rating, 5, class: "mask mask-star-2 bg-ginkgo-900", id: "meal_rating_5" %>
          </div>

          <div class="mt-12 mb-8 w-full flex justify-center">
            <div class="w-full">
              <%= f.label :food, "食べたもの", class: "font-bold text-xs block mb-2 text-left" %>
              <%= f.text_field :food, class: "textarea textarea-bordered rounded-sm w-full", placeholder: "朝：鮭、ごはん、お味噌汁" %>
            </div>
          </div>

          <div class="mb-8 w-full flex justify-center">
            <div class="w-full">
              <%= f.label :meal_memo, "食事メモ", class: "font-bold text-xs block mb-2 text-left" %>
              <%= f.text_field :meal_memo, class: "textarea textarea-bordered rounded-sm w-full", placeholder: "備考など" %>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- 体調 -->
    <div class="flex justify-center w-full mb-5">
      <div class="card card-compact bg-base-100 w-full rounded-sm shadow-md h-auto mx-4">
        <div class="card-body">
          <p class="font-bold">体 調</p>
          <div class="border-t border-gray-300 mb-8"></div>

          <p class="font-bold text-xs text-center">今日の体調総合評価</p>
          <p class="text-xs text-center mb-2">（グラフに反映されます）</p>
          <div class="rating flex justify-center items-center">
            <%= f.label :condition_rating, "評価しない", for: "condition_rating_0", class: "text-xs" %>
            <%= f.radio_button :condition_rating, 0, class: "mask mask-star-2 bg-gray-400 mr-5", id: "condition_rating_0", checked: true %>
            <%= f.radio_button :condition_rating, 1, class: "mask mask-star-2 bg-ginkgo-900", id: "condition_rating_1" %>
            <%= f.radio_button :condition_rating, 2, class: "mask mask-star-2 bg-ginkgo-900", id: "condition_rating_2" %>
            <%= f.radio_button :condition_rating, 3, class: "mask mask-star-2 bg-ginkgo-900", id: "condition_rating_3" %>
            <%= f.radio_button :condition_rating, 4, class: "mask mask-star-2 bg-ginkgo-900", id: "condition_rating_4" %>
            <%= f.radio_button :condition_rating, 5, class: "mask mask-star-2 bg-ginkgo-900", id: "condition_rating_5" %>
          </div>

          <div class="text-xs">
            <div class="flex items-center mt-12 mb-5">
              <%= f.label :symptom_ids, "症状", class: "font-bold" %>
            </div>
            <div class="flex justify-center flex-wrap gap-3">
              <%= f.collection_check_boxes(:symptom_ids, current_user.symptoms, :id, :symptom_name) do |b| %>
                <div class="flex items-center">
                  <%= b.check_box(class: "mr-1") %> <%= b.label %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="mt-12 mb-8 w-full flex justify-center">
            <div class="w-full">
              <%= f.label :condition_memo, "体調メモ", class: "font-bold text-xs block mb-2 text-left" %>
              <%= f.text_field :condition_memo, class: "textarea textarea-bordered rounded-sm w-full", placeholder: "備考など" %>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- ひとこと日記 -->
    <div class="flex justify-center w-full mb-10">
      <div class="card card-compact bg-base-100 w-full rounded-sm shadow-md h-auto mx-4">
        <div class="card-body">
          <p class="font-bold">ひ と こ と 日 記</p>
          <div class="border-t border-gray-300 mb-8"></div>

          <div class="mb-8 w-full flex justify-center">
            <div class="w-full">
              <%= f.text_field :diary, class: "textarea textarea-bordered rounded-sm w-full h-32", placeholder: "今日はどんな１日だった？" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-actions justify-center mx-4">
      <%= f.submit "登        録", class: "text-gray-900 bg-ginkgo-100 w-full cursor-pointer hover:bg-ginkgo-500 hover:border-none transition active:scale-95 rounded-tl-none rounded-tr-[32px] rounded-bl-[32px] rounded-br-none py-2 mb-5" %>
    </div>
  <% end %>
  <div class="flex justify-center mx-4 mb-10">
    <%= link_to 'キャンセル', user_main_index_path(current_user) %>
  </div>
</div>
