<p class="text-lg ml-4 mt-20">お薬とサプリメント</p>
<div class="border-t border-gray-900 mb-12 mt-1"></div>

<div class="flex flex-col items-center w-full">
  <p class="text-xs mx-4 mb-12">服用スケジュールと記録を書く際に使用するお薬とサプリメントを登録できます。</p>
  <%= form_with model: @drug_supplement_form, url: user_drug_supplement_lists_path(current_user), method: :post, local: true do |f| %>
    <%= render 'shared/error_messages', object: @drug_supplement_form %>
    <div>
      <%= f.label :drug_name, "お薬を追加", class: "text-xs" %><br>
      <%= f.text_field :drug_name, class: "textarea textarea-bordered textarea-md rounded-sm w-80 mb-7", placeholder: "読点(、)区切りで複数登録可。" %>
    </div>

    <div>
      <%= f.label :supplement_name, "サプリメントを追加", class: "text-xs" %><br>
      <%= f.text_field :supplement_name, class: "textarea textarea-bordered textarea-md rounded-sm w-80 mb-7", placeholder: "読点(、)区切りで複数登録可。" %>
    </div>

    <div class="flex justify-end">
      <%= f.submit "登　録", class: "btn btn-sm glass" %>
    </div>
  <% end %>

  <div class="card bg-stone-50 w-80 rounded-sm shadow-md mt-16">
    <div class="card-body">
      <p class="text-lg mb-5">Drugs</p>
      <% @drugs.each do |drug| %>
        <%= turbo_frame_tag dom_id(drug) do %>
          <div class="flex justify-between items-center text-sm">
            <div><%= drug.drug_name %></div>
            <div>
              <%= link_to "編集", edit_user_drug_path(user_id: current_user.id, id: drug.id) %>
              <%= link_to "削除", user_drug_path(user_id: current_user.id, id: drug.id), data: { turbo_stream: true, turbo_method: :delete, turbo_confirm: "#{drug.drug_name}を使用して登録しているスケジュールのデータも消えてしまいますが本当に削除しますか？" } %>
            </div>
          </div>
          <div class="border-t border-gray-300 my-3"></div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card bg-stone-50 w-80 rounded-sm shadow-md mt-8 mb-10">
    <div class="card-body">
      <p class="text-lg mb-5">Supplements</p>
      <% @supplements.each do |supplement| %>
        <%= turbo_frame_tag dom_id(supplement) do %>
          <div class="flex justify-between items-center text-sm">
            <div><%= supplement.supplement_name %></div>
            <div>
              <%= link_to "編集", edit_user_supplement_path(user_id: current_user.id, id: supplement.id) %>
              <%= link_to "削除", user_supplement_path(user_id: current_user.id, id: supplement.id), data: { turbo_stream: true, turbo_method: :delete, turbo_confirm: "#{supplement.supplement_name}を使用して登録しているスケジュールのデータも消えてしまいますが本当に削除しますか？" } %>
            </div>
          </div>
          <div class="border-t border-gray-300 my-3"></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
