<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cheeful Belly" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1"> <!-- ページの表示をレスポンシブ対応 -->
    <meta name="mobile-web-app-capable" content="yes"> <!-- Appleデバイスでウェブページをフルスクリーン表示可能にする -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="font-serif tracking-widest">
      <% if user_signed_in? %>
        <%= render 'shared/header' %>
      <% end %>

      <div class="w-full h-screen">
        <% if notice.present? %>
          <div class="animate-notice fixed top-24 translate-x-1/2 right-6 sm:translate-x-0 z-30 w-fit max-w-[90%] sm:max-w-1/2 py-1 px-2 flex justify-center items-center bg-stone-50 shadow-md rounded">
            <%= notice %>
          </div>
        <% end %>
        <p class="alert bg-transparent border-none"><%= alert %></p>

        <%= yield %>
      </div>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
