<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1"> <!-- ページの表示をレスポンシブ対応 -->
    <meta name="apple-mobile-web-app-capable" content="yes"> <!-- Appleデバイスでウェブページをフルスクリーン表示可能にする -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% end %>

    <p class="notice bg-transparent border-none"><%= notice %></p>
    <p class="alert bg-transparent border-none"><%= alert %></p>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
